<div class="layui-side-scroll">
    <ul id="menuTree" class="layui-nav layui-nav-tree" style="margin-top: 15px;">
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;"><i class="layui-icon layui-icon-home"></i>&emsp;<cite>Home Page</cite>
            </a>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:;">
                <cite>Elasticsearch</cite>
            </a>
            <dl class="layui-nav-child">
                <dd><a lay-href="/elasticsearchView">Data View</a></dd>
                <dd><a lay-href="/elasticsearchBasicQuery">Basic Query</a></dd>

            </dl>
        </li>

    </ul>
</div>
