<div>
    <p><h4>Mercury Open Search <i style="color:#c00">(This page is a static display page)</i></h4></p>
    <p><b>Profile</b>：This is an open search system for valorosoltd Mercury Platform</p><br/>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>Time Line</legend>
    </fieldset>
    <ul class="layui-timeline">
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis"></i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title">4/1/2021</h3>
                <p>
                    Mercury Search[version 1.0]。
                    <br>first released<i class="layui-icon"></i>
                </p>
            </div>
        </li>
    </ul>
</div>