<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">DataBase Config</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!home_console">home page</a>
          <a><cite>DataBase Config</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            <input id="database-search-name" class="layui-input search-input" type="text" placeholder="name"/>
            <button id="database-btn-search" class="layui-btn icon-btn"><i class="layui-icon"></i>search
            </button>
            <button id="database-btn-show" class="layui-btn icon-btn"><i class="layui-icon"></i>show all</button>
            <button id="database-btn-add" class="layui-btn icon-btn"><i class="layui-icon"></i>add</button>
        </div>
        <table id="database-table" lay-filter="database-table"></table>
    </div>
</div>

<script type="text/html" id="database-table-bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">edit</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">delete</a>
</script>
<script>
    layui.use(['table', 'admin','util', 'form', 'layer'], function () {
        var table = layui.table;
        var admin = layui.admin;
        var form = layui.form;
        var util = layui.util;
        var layer = layui.layer;

        //第一个实例
        table.render({
            elem: '#database-table',
            url: 'config/database/list' //数据接口
            ,
            page: true //开启分页
            ,
            cols: [
                [ //表头
                {
                    field: 'name',
                    title: 'name',
                    sort: true
                },{
                    field: 'dbUrl',
                    title: 'url',
                    sort: true
                }, {
                    templet: function (d) {
                        return util.toDateString(d.createTime);
                    },
                    title: 'createTime'
                }, {
                    title: 'lastModifyTime',
                    templet: function (d) {
                        return util.toDateString(d.lastModifyTime);
                    },
                    sort: true
                }, {
                    field: 'dbUsername',
                    title: 'username',
                    sort: true
                }, {
                    field: 'dbPassword',
                    title: 'password',
                    sort: true
                }, {
                    field: 'enable',
                    title: 'enable',
                    sort: true
                }, {
                    field: 'dbDriver',
                    title: 'driver',
                    sort: true
                }, {
                    align: 'center',
                    toolbar: '#database-table-bar',
                    title: 'operation'
                }
                ]
            ]
        });

        // 工具条点击事件
        table.on('tool(database-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'edit') { // 修改
                showEditModel(data);
            }
            else if (layEvent === 'delete') { // 删除
                layer.confirm('are you sure to delete this item？', function (i) {
                    layer.close(i);
                    layer.load(2);
                    $.post('config/database/delete', {
                        id: data.id
                    }, function (data) {
                        layer.closeAll('loading');
                        if (data.code == 200) {
                            layer.msg(data.msg, {
                                icon: 1
                            });
                        } else {
                            layer.msg(data.msg, {
                                icon: 2
                            });
                        }
                        admin.refresh();
                    });
                });
            }
        });

        // 添加按钮点击事件
        $('#database-btn-add').click(function () {
            showEditModel();
        });

        // 搜索按钮点击事件
        $('#database-btn-search').click(function () {
            var id = $('#database-search-id').val();
            var name = $('#database-search-name').val();
            var clientIp = $('#database-search-clientIp').val();
            table.reload('database-table', {
                url: 'config/database/queryList',
                where: {
                    name: name,
                    clientIp: clientIp
                }, page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });

        // 展示全部按钮点击事件
        $('#database-btn-show').click(function () {
            table.reload('database-table', {
                url: 'config/database/list'
            });
        });

        // 显示表单弹窗
        var showEditModel = function (data) {
            var title = data ? 'edit' : 'add';
            admin.putTempData('t_database', data);
            admin.popupCenter({
                title: title,
                area: "600px",
                path: 'config/database/editForm',
                finish: function () {
                    table.reload('database-table', {});
                }
            });
        };

    });

</script>