<form id="etl-dispatch_config_form_kafka" lay-filter="etl-dispatch_config_form_kafka" class="layui-form model-form">
    <div class="layui-form-item">
        <label class="layui-form-label">Kafka Topic</label>
        <div class="layui-input-block">
            <input name="topicName" placeholder="topicName" type="text" class="layui-input" lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">partitions</label>
        <div class="layui-input-block">
            <input name="partitions" placeholder="partitions" value="1" type="text" class="layui-input" lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">replications</label>
        <div class="layui-input-block">
            <input name="replications" placeholder="replications" value="1" type="text" class="layui-input" lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">retentionMillis</label>
        <div class="layui-input-block">
            <input name="retentionMillis" placeholder="retentionMillis" value="604800000" type="text" class="layui-input" lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">retentionBytes</label>
        <div class="layui-input-block">
            <input name="retentionBytes" placeholder="retentionBytes" value="1073741824" type="text" class="layui-input" lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">messageMaxBytes</label>
        <div class="layui-input-block">
            <input name="messageMaxBytes" placeholder="messageMaxBytes" value="52428700" type="text" class="layui-input" lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">cleanupPolicy</label>
        <div class="layui-input-block">
            <input name="cleanupPolicy" placeholder="cleanupPolicy" value="default" type="text" class="layui-input" lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">cancel</button>
        <button class="layui-btn" lay-filter="etl-dispatch_config_form_kafka-submit" lay-submit>save</button>
    </div>
</form>

<script>
    layui.use(['layer', 'admin', 'form','table'], function () {
        var layer = layui.layer;
        var admin = layui.admin;
        var form = layui.form;

        var url = 'ETLTask/dispatch/editKafkaConfig';
        var id ='${id}';
        var data='${config}';
        if (data!='null') {
            form.val('etl-dispatch_config_form_kafka', JSON.parse(data));
        }

        // 表单提交事件
        form.on('submit(etl-dispatch_config_form_kafka-submit)', function (data) {
            layer.load(2);
            $.post(url, {
                id: id,
                topicName: data.field.topicName,
                partitions: data.field.partitions,
                replications: data.field.replications,
                retentionMillis: data.field.retentionMillis,
                retentionBytes: data.field.retentionBytes,
                messageMaxBytes: data.field.messageMaxBytes,
                cleanupPolicy: data.field.cleanupPolicy
            }, function (data) {
                layer.closeAll('loading');
                if (data.code == 200) {
                    layer.msg(data.msg, {icon: 1});
                    admin.finishPopupCenter();
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
                admin.refresh();
            });
            return false;
        });
    });


</script>