<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">RealTime-Task</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!home_console">home page</a>
          <a><cite>RealTime-Task</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            <input id="realtime-task-search-name" class="layui-input search-input" type="text" placeholder="name"/>
            <button id="realtime-task-btn-search" class="layui-btn icon-btn"><i class="layui-icon"></i>search
            </button>
            <button id="realtime-task-btn-show" class="layui-btn icon-btn"><i class="layui-icon"></i>show all</button>
            <button id="realtime-task-btn-add" class="layui-btn icon-btn"><i class="layui-icon"></i>add</button>
        </div>
        <table id="realtime-task-table" lay-filter="realtime-task-table"></table>
    </div>
</div>

<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">RealTime-Task instances</h2>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            <input id="realtime-taskInstance-search-name" class="layui-input search-input" type="text"
                   placeholder="name"/>
            <button id="realtime-taskInstance-btn-search" class="layui-btn icon-btn"><i class="layui-icon"></i>search
            </button>
            <button id="realtime-taskInstance-btn-show" class="layui-btn icon-btn"><i class="layui-icon"></i>show all
            </button>
        </div>
        <table id="realtime-taskInstance-table" lay-filter="realtime-taskInstance-table"></table>
    </div>
</div>

<script type="text/html" id="realtime-task-table-bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">edit</a>
    <a class="layui-btn layui-btn-xs" lay-event="publish">publish</a>
    <a class="layui-btn layui-btn-xs" lay-event="stop">stop</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">delete</a>
</script>
<script>
    layui.use(['table', 'admin', 'util','form', 'layer'], function () {
        var table = layui.table;
        var admin = layui.admin;
        var form = layui.form;
        var layer = layui.layer;
        var util = layui.util;

        //第一个实例
        table.render({
            elem: '#realtime-task-table',
            url: 'realTimeTask/list' //数据接口
            ,
            page: true //开启分页
            ,
            cols: [
                [ //表头
                {
                    field: 'id',
                    title: 'ID',
                    sort: true,
                    width:60,
                    fixed: 'left'
                },{
                    field: 'name',
                    title: 'name',
                    sort: true
                },{
                    field: 'status',
                    title: 'status',
                    width:150,
                    sort: true
                },{
                    field: 'executor',
                    title: 'executor',
                    width:150,
                    sort: true
                },{
                    templet: function (d) {
                        return util.toDateString(d.lastPublishTime);
                    },
                    title: 'lastPublishTime',
                    width:180,
                    sort: true
                },{
                    templet: function (d) {
                        return util.toDateString(d.lastActionTime);
                    },
                    title: 'lastActionTime',
                    width:180,
                    sort: true
                },{
                    templet: function (d) {
                        return util.toDateString(d.createTime);
                    },
                    title: 'createTime',
                    width:180,
                    sort: true
                },{
                    templet: function (d) {
                        return util.toDateString(d.lastModifyTime);
                    },
                    title: 'lastModifyTime',
                    width:180,
                    sort: true
                },{
                    align: 'center',
                    toolbar: '#realtime-task-table-bar',
                    title: 'operation',
                    fixed: 'right',
                    width: 250
                }
                ]
            ]
        });

        table.render({
            elem: '#realtime-taskInstance-table',
            url: 'realTimeTask/listInstance' //数据接口
            ,
            page: true //开启分页
            ,
            cols: [
                [ //表头
                {
                    field: 'id',
                    title: 'ID',
                    sort: true,
                    width:80,
                    fixed: 'left'
                },{
                    field: 'name',
                    title: 'name',
                    sort: true
                },{
                    field: 'programArguments',
                    title: 'programArguments',
                    width:350,
                    sort: true
                },{
                    field: 'status',
                    title: 'status',
                    width:120,
                    sort: true
                },{
                    field: 'jobId',
                    title: 'Flink-ID',
                    width:280,
                    sort: true
                },{
                    field: 'executor',
                    title: 'executor',
                    width:140,
                    sort: true
                },{
                    templet: function (d) {
                        return util.toDateString(d.lastActionTime);
                    },
                    title: 'lastActionTime',
                    width:160,
                    sort: true
                },{
                    templet: function (d) {
                        return util.toDateString(d.createTime);
                    },
                    title: 'createTime',
                    width:160,
                    sort: true
                },{
                    field: 'fileId',
                    title: 'fileId',
                    width:70,
                    sort: true
                }
                ]
            ]
        });

        // 工具条点击事件
        table.on('tool(realtime-task-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'edit') { // 修改
                showEditModel(data);
            } else if (layEvent === 'stop') {
                layer.confirm('are you sure to stop this task？', function (i) {
                   layer.close(i);
                    layer.load(2);
                    $.post('realTimeTask/stop', {
                        id: data.id
                    }, function (data) {
                        layer.closeAll('loading');
                        if (data.code == 200) {
                            layer.msg(data.msg, {
                                icon: 1
                            });
                        } else {
                            layer.msg(data.msg, {
                                icon: 2
                            });
                        }
                        admin.refresh();
                    });
                });
            } else if (layEvent === 'publish') {
                layer.confirm('are you sure to publish this task？', function (i) {
                   layer.close(i);
                    layer.load(2);
                    $.post('realTimeTask/publish', {
                        id: data.id
                    }, function (data) {
                        layer.closeAll('loading');
                        if (data.code == 200) {
                            layer.msg(data.msg, {
                                icon: 1
                            });
                        } else {
                            layer.msg(data.msg, {
                                icon: 2
                            });
                        }
                        admin.refresh();
                    });
                });
            } else if (layEvent === 'delete') { // 删除
                layer.confirm('are you sure to delete this task？', function (i) {
                    layer.close(i);
                    layer.load(2);
                    $.post('realTimeTask/delete', {
                        id: data.id
                    }, function (data) {
                        layer.closeAll('loading');
                        if (data.code == 200) {
                            layer.msg(data.msg, {
                                icon: 1
                            });
                        } else {
                            layer.msg(data.msg, {
                                icon: 2
                            });
                        }
                        admin.refresh();
                    });
                });
            }
        });

        // 添加按钮点击事件
        $('#realtime-task-btn-add').click(function () {
            showEditModel();
        });

        // 搜索按钮点击事件
        $('#realtime-task-btn-search').click(function () {
            var name = $('#realtime-task-search-name').val();
            table.reload('realtime-task-table', {
                url: 'realTimeTask/queryList',
                where: {
                    name: name
                }, page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });

        // 展示全部按钮点击事件
        $('#realtime-task-btn-show').click(function () {
            table.reload('realtime-task-table', {
                url: 'realTimeTask/list'
            });
        });

        // 搜索按钮点击事件
        $('#realtime-task-btn-search').click(function () {
            var name = $('#realtime-taskInstance-search-name').val();
            table.reload('realtime-taskInstance-table', {
                url: 'realTimeTask/queryListInstance',
                where: {
                    name: name
                }, page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });

        // 展示全部按钮点击事件
        $('#realtime-task-btn-show').click(function () {
            table.reload('realtime-taskInstance-table', {
                url: 'realTimeTask/listInstance'
            });
        });

        // 显示表单弹窗
        var showEditModel = function (data) {
            var title = data ? 'edit' : 'add';
            admin.putTempData('t_realtime-task', data);
            admin.popupCenter({
                title: title,
                area: "900px",
                path: 'realTimeTask/editForm',
                finish: function () {
                    table.reload('realtime-task-table', {});
                }
            });
        };
    });

</script>