<div class="layui-logo">
    <img src="assets/images/icon1.png"/>&nbsp;&nbsp;Mercury
</div>
<ul class="layui-nav layui-layout-left">
    <li class="layui-nav-item" lay-unselect>
        <a ew-event="flexible" title="flexible"><i class="layui-icon layui-icon-shrink-right"></i></a>
    </li>
    <li class="layui-nav-item" lay-unselect>
        <a ew-event="refresh" title="refresh"><i class="layui-icon layui-icon-refresh-3"></i></a>
    </li>
</ul>
<ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item" lay-unselect>
        <a ew-event="fullScreen" title="fullScreen"><i class="layui-icon layui-icon-screen-full"></i></a>
    </li>
    <li class="layui-nav-item" lay-unselect>
        <a>
            <img src="assets/images/head.png" class="layui-nav-img">
            <cite>${username}</cite>
        </a>
        <dl class="layui-nav-child">
            <dd lay-unselect>
                <a href="/logout">logout</a>
            </dd>
        </dl>
    </li>
    <li class="layui-nav-item" lay-unselect>&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
</ul>